.navbar{
    background: none repeat scroll 0 0 black;
    border-radius: 5px 5px 5px 5px;
    height: 50px;
    position: absolute;
    top: 0;
    width: 100%;
    align-self: left;
    color: white;
    align-items: left;
}
.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .logout{
    float:right;
    text-decoration: none;
    font-size: 17px;
  }

.dialog-body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: #ecf0f3;
    display: flex;
    text-align: center;
    justify-content: center;
    place-items: center;
    overflow: hidden;
    font-family: poppins;
}

.container1{
position: relative;
width: 500px;
height: 500px;
border-radius: 20px;
padding: 40px;
box-sizing: border-box;
background: #ecf0f3;

}

.container1 input{

  height: 35px;
}

.container1 select{
  height: 35px;
  width: 100%;
  background: #ecf0f3;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}
table {
  border-collapse: collapse;
  width: 700px;
}
th, td {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid #ccc;
}
tbody tr:nth-child(odd) {
  background: #eee;
}